<div class="row">
  <div class="col-lg-4 col-md-6 mb-4" style="width: 25rem">
    <mat-card class="mat-card">
      <a href="#">
        <img mat-card-image src="assets/img/casual.jpg" alt="Item six" class="img-responsive">
      </a>

      <mat-card-header>
        <mat-card-title>
          <a href="#" class="item-link"><h4>Item six</h4></a>
        </mat-card-title>
        <mat-card-subtitle>$24.99</mat-card-subtitle>
      </mat-card-header>

      <div class="separator"></div>

      <mat-card-content>
        <p class="card-text">!lorem 24 ihwf8sdicn fbwin we9n w fbw cwb ciksfc</p>
      </mat-card-content>

      <div class="separator"></div>

      <mat-card-footer>
        <small class="text-muted" style="color: #ffd31a">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
